.ant-card{
  margin-left: 14px;
  margin-top: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.ant-card:hover{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.ant-card-head{
  border-radius: 6px;
  border-bottom: 0;
}
.ant-card-head-title{
  overflow: visible !important;
}
.ant-card-body{
  padding: 0 24px 0px 24px
}


.card-header{
  position: relative;
  overflow: hidden;
  margin-top: -20px;
  border-radius: 6px;
  z-index: 3;
  height: 130px;
	width: 205px;
}
.card-header img{
	width: 100%;
	height: 100%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-content {
	height: 35px;
	width: 240px;
  text-align: center;
  padding: 10px 0 0px 0;
  margin-top: 7px;
}
.card-content h4 {
  line-height: 0.5;
  font-size: 1.2em;
  font-weight: 600;
}
.card-content  p {
  width: 80px;
  color: #999;
  font-size: 0.5em;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 10px;
}

#title{
	float: left;
	margin-top: 3px;
	width: 75px;
	height: 20px;
	margin-bottom: 0;
}

#describe{
	float: left;
}


.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 5px 0;
}

.cardList1{
	margin-left: 50px;
	margin-top: 30px;
	width: 1400px;
	height: 240px;
	box-sizing: border-box;
}

.cardContent{
	width: 340px;
	height: 240px;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 80px;	
}
