.listContent{
	background: white;
	padding-top: 50px;
}

.classList{
	width: 1335px;
	height: 160px;
	box-sizing: border-box;
	margin: auto;
	background: white;
}
#classTitle{
	float: left;
}

.buttonGroup{
	float: right;
}

.list{
	float: left;
	width: 100%;
	height: 40px;
	border: solid 0.5px gainsboro;
	padding-top: 8px;
	padding-left: 20px;
}

#list1{
	border-bottom: none;
	border-top: none;
}

.choose{
	width: 1335px;
	margin: auto;
	margin-top: 120px;
	background: gainsboro;
	padding-left: 10px;
}

.button{
	margin-right: 10px;
}

.checkBox{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}

.classCard{
	width: 1400px;
	height: 500px;
	margin: auto;
}

.classCardContent{
	width: 330px;
	box-sizing: border-box;
	float: left;
	padding-left: 60px;
	
}