.father{
	background: white;
}

.headerMenu{
	box-shadow: 0 0px 10px 3px #888888;
}

.App {
  text-align: center;
}

.headerContainer{
  width: 1400px;
  margin: auto;
  height: 270px;
  padding: 0;
  background: white;
}

.login{
	float: left;
	width: 120px;
	height: 63px;
	padding-left: 20px;
	margin-left: 30px;
}

.index{
	margin-left: 60px;
}

.shop{
	float: right;
	width: 120px;
	height: 63px;
	margin-right: 200px;
}

#shopIcon{
	font-size: 40px;
	margin-top: 10px;
	float: left;
}

#shopText{
	float: left;
	width: 80px;
	text-align: center;
	font-size: 20px;
	height: 63px;
}

.middle{
	width: 1400px;
	margin: auto;
	height: 350px;
}

.middleHeader{
	width: 1400px;
	height: 205px;
	margin: auto;
	padding-top: 5px;
}

.advertise{
	height: 75px;
	text-align: center;
	font-size: 36px;
}

.decorate{
	height: 130px;
}

#logo{
	width: 340px;
	float: left;
	text-align: center;
	height: 130px;
	padding-top: 25px;
}

#searcher{
	padding-top: 30px;
	width: 720px;
	height: 130px;
	float: left;
}

#phone{
	width: 340px;
	height: 130px;
	float: left;
	padding-left:50px ;
	padding-top: 28px;
}

.phoneIcon{
	margin-top:20px ;
	font-size: 32px;
	width: 50px;
	height: 50px;
	float: left;
}

.ant-carousel .slick-slide {
  text-align: center;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  height: 350px;
  width: 900px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.verticalContainer{
	line-height: 100px;
	height: 350px;
	background: linear-gradient(to bottom,#1890FF,#fff);
}

.carousel{
	border-right: 3px solid white;
	text-align: center;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.carouselPic{
	width: 977px;
	max-width: 100%;
	height: 350px;
	max-height: 100%;
}

.rightSider{
	height: 350px;
	border: 1px solid black;
	padding-left: 5px;
}

.classLayout{
	width: 1400px;
	height: 570px;
	margin: auto;
	padding-top: 40px;
	background: white;
}

.classSider{
	width: 360px;
	height: 570px;
	background: white;
	padding-left: 10px;
}

.tuijian{
	margin-top: 5px;
	width: 310px;
	height: 50px;
	font-size: 30px;
	color: #000000;
	font-weight: 600px;
	border-bottom: 1px solid black;
}

.tuijianContent{
	width: 360px;
	height: 520px;
	float: left;
}

.tuijianPic{
	width: 310px;
	height: 400px;
	margin-top: 10px;
}

.tuijianDesc{
	width: 310px;
	height: 80px;
	padding-top: 10px;
	background: ghostwhite;
}

.tuijianTitle{
	float: left;
	width: 155px;
}

.tuijianDetail{
	float: left;
	width: 155px;
}

.tuijianGenre{
	float: left;
	margin-top: 10px;
}

.tuijianGrade{
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}

.tuijianPrice{
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}

.classContent{
	height: 550px;
	padding-left: 160px;
	padding-top: 0px;
}

