.title{
	padding-top: 20px;
	height: 60px;
	text-align: center;
	background: white;
	box-sizing: border-box;
	font-size:  medium;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

.cardExplain{
	width: 1800px;
	padding: 0px 100px 0px 100px;
	box-sizing: border-box;
	margin: auto;
}

.cardContent{
	width: 400px;
	display: inline-block;
	box-sizing: border-box;
	padding-left: 80px;	
}
