.App {
  text-align: center;
}

.headerContainer{
  width: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}

.searcher{
	width: 400px;
	height: 31px;
	margin: 16px 0px 16px 36px;
	float: left;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.verticalContainer{
	height: 400px;
	line-height: 100px;
}

.verticalContian{
	height: 30%;
}

.shopper{
	box-sizing: border-box;
	margin:0 0 6px 80px;
	width: 100px;
	height: 40px;
	float: left;
}
.shopperContainer{
	width: 100px;
	height: 40px;
}

.alarm{
	margin-left: 250px;
	box-sizing: border-box;
	width: 63px;
	height: 63px;
	float: left;
}
.alarmContainer{
	width: 63px;
	height: 63px;
}

.button{
	margin-left: 50px;
	box-sizing: border-box;
	float: left;
}
.buttonContainer{
	width: 63px;
	height: 63px;
}
